<table class="table table-hover">
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #1</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #2</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #3</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #4</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #5</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #6</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #7</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #8</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #9</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #10</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #11</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #12</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #13</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #14</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #15</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #16</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #17</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #18</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #19</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #20</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #21</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #22</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #23</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #24</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #25</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #26</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #27</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #28</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #29</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
  <tr>
    <td><img src="http://lorempixel.com/17/17/" alt=""> [Owner:Repo] Test github issue #30</td>
    <td><span class="label label-danger pull-right">Proficient</span></td>
  </tr>
</table>
